body {
  background: #ddd;
}

#trivod-rich-widget iframe {
  width: 0px;
  // min-width: 100%;
  // border: 1px solid #000;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;

  &.fullSize {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw !important;
    height: 100vh !important;
    position: fixed;
  }
}