body {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-block;
}

#root,
.app {
  display: inline-block;
}

.app {
  padding: 10px 10px 20px 10px;
}


.activation-link {
  font-size: 40px;
  margin-right: 20px;
  line-height: 1;
  transition: all .2s ease;
  display: inline-block;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    transform: rotate(-180deg);
  }
}

.by {
  font-size: 9px;
  display: block;
  position: fixed;
  bottom: 3px;
  right: 4px;
}